@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-color-background: #fff;
  --ui-color-text: #000;
  --ui-primary: #b9ecc1;
  --ui-secondary: #a7d6ff;
  --ui-tertiary: #042f54;
}

.dark {
  --ui-color-background: black;
  --ui-color-text: white;
  --ui-primary: #b9ecc1;
  --ui-secondary: #a7d6ff;
  --ui-tertiary: #042f54;
}

body {
  background: linear-gradient(to right, #042f54 50%, #fff 50%);
}

.dark body {
  background: black;
}

* {
  font-family: 'Sora';
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  box-shadow: none;
}

.hide-amount .redentia-amount {
  @apply blur-xs;
}

@layer utilities {
  *,
  hr {
    @apply border-transparent;
  }

  .light-border *,
  .light-border hr {
    @apply border-transparent;
  }

  .dark {
    *,
    hr {
      @apply border-[#535353];
    }

    .light-border *,
    .light-border hr {
      @apply border-[#A5A5A5];
    }
  }

  // Remove scrollbar
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

button:disabled {
  @apply cursor-not-allowed opacity-50;
}

.glass {
  backdrop-filter: blur(10px);
  box-shadow:
    inset 5px 5px 10px 0px rgba(255, 255, 255, 0.2),
    inset 0px 1px 2px 0px rgba(255, 255, 255, 0.6),
    inset -2px -2px 2px 0px rgba(255, 255, 255, 0.2);
}
